<html>
<style>

    html, body {height:100%;}
    html {display:table; width:100%;}
    body {display:table-cell; text-align:center; vertical-align:middle;}
    

</style>
<head><title>Faculty Committee App</title></head>

<body>
    
        <a href="/faculty-committee-last-five">Participation of faculty members per committee - last 5 years</a>
    </p><br>
    <p>
        <a href="/faculty_committee">Participation of faculty members per committee - all years</a>
    </p><br>
        <a href="/add_faculty">Add faculty committee members</a>
    </p><br>


</body> 
</html>